@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");


body {
	color: #fff;
	font-size: 16px;
}



.navbar {
	margin: 0;
}

section {
	margin-bottom: 80px;
}

.carousel {
	margin-bottom: 60px;

	img {
		width: 100%;
		height: auto;
	}

	.item {
		height: 500px;
		background-color: #777;
	}
	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 500px;
	}

	.carousel-caption {
		z-index: 10;
		text-align: left;
		top: 70px;
		right: 10%;
		left: 10%;
		font-size: 22px;
	}

	.server-image {
		width: 80%;
		height: auto;
	}
}



// Marketing Section
.marketing {
	text-align: center;
	h2 {
		font-weight: normal;
	}
}

.price strong {
	font-size: 32px;
}


.jumbotron {
	background: #bf5a16;

}

.well {
	overflow: auto;
}